@charset "UTF-8";
footer {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 50px 0px 25px 0px; }

.pie-footer {
  flex-wrap: wrap; }
  .pie-footer .caja_footer {
    padding: 40px 0px 40px 0px; }

.iconos-redes {
  display: flex;
  justify-content: space-around; }

.pie-pagina {
  display: flex;
  justify-content: space-around; }

.tex-footer {
  color: black;
  font-size: 20px;
  font-family: "Times"; }

.link-footer {
  color: #362706;
  font-size: 20px; }

.accordion {
  background-color: #FFF1BD;
  padding: 50px 0px 0px 0px; }

.accordion-item {
  background-color: #FFF1BD; }

.accordion-header {
  background-color: #FFF1BD; }

.accordion-button {
  background-color: #FFF1BD; }

.seccion_contacto {
  font-size: 20px;
  padding: 60px 60px;
  background: linear-gradient(rgba(118, 126, 148, 0.1), rgba(220, 230, 224, 0.25)), url(./../Imges/Contacto/fondo5.jpg) no-repeat center center fixed;
  background-size: cover;
  font-size: 22px;
  font-weight: 500;
  color: black;
  font-family: "Times"; }
  .seccion_contacto .page_contac {
    padding: 10px 0px 20px 0px; }

.Ingreso_info {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0; }

.img_inicio {
  width: 100%;
  height: 600px; }

.color_text {
  color: #B87E24;
  text-align: center;
  font-family: "Times";
  font-size: 22px; }

li {
  list-style-type: none; }

header, footer {
  background: #fceabb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fceabb 14%, #fceabb 14%, #fbdf93 72%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #fceabb 14%, #fceabb 14%, #fbdf93 72%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #fceabb 14%, #fceabb 14%, #fbdf93 72%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 );
  /* IE6-9 */ }

.logo {
  width: 230px; }

.barra_nav {
  width: 90%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .barra_nav li {
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8%;
    transition: .10s; }
    .barra_nav li a {
      text-decoration: none;
      display: inline-block;
      margin: 0 20px;
      font-size: 22px;
      font-weight: 500; }
      .barra_nav li a:hover {
        color: white; }
    .barra_nav li:hover {
      background-color: #e8c99b;
      background: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%); }

/****** Cajas para ofertas - fotos ofertas - index *******/
.promo {
  padding: 30px 0px 40px 0px; }

.seccion-ofertas {
  background-color: #FFF1BD; }

.cajas-ofertas {
  display: flex;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px); }
  .cajas-ofertas .ofertas {
    background: white;
    color: black;
    font-family: "Dosis";
    text-decoration: solid;
    width: 310px;
    height: auto;
    padding: 15px 10px 15px 5px;
    border-top: solid 2px #362706;
    border-right: solid 2px #362706;
    border-bottom: solid 2px #362706;
    border-left: solid 2px #362706;
    margin: 5px 10px 15px 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 25px 5px #aa7b14;
    font-size: 25px; }
    .cajas-ofertas .ofertas .foto-ofertas {
      border-top: solid 1px #362706;
      border-right: solid 1px #362706;
      border-bottom: solid 1px #362706;
      border-left: solid 1px #362706; }

s {
  color: brown; }

/* Hover a las cajas - Uso de transformación */
.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.02); }

.cajas-ofertas {
  display: flex;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px); }
  .cajas-ofertas .ofertas {
    background: white;
    color: black;
    font-family: "Dosis";
    text-decoration: solid;
    width: 310px;
    height: auto;
    padding: 15px 10px 15px 5px;
    border-top: solid 2px #362706;
    border-right: solid 2px #362706;
    border-bottom: solid 2px #362706;
    border-left: solid 2px #362706;
    margin: 5px 10px 15px 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 25px 5px #aa7b14;
    font-size: 25px; }
    .cajas-ofertas .ofertas .foto-ofertas {
      border-top: solid 1px #362706;
      border-right: solid 1px #362706;
      border-bottom: solid 1px #362706;
      border-left: solid 1px #362706; }

.cajas-productos {
  background: white;
  color: black;
  font-family: "Dosis";
  text-decoration: solid;
  width: 310px;
  height: auto;
  padding: 15px 10px 15px 5px;
  border-top: solid 2px #362706;
  border-right: solid 2px #362706;
  border-bottom: solid 2px #362706;
  border-left: solid 2px #362706;
  margin: 5px 10px 15px 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 25px 5px #aa7b14;
  font-size: 25px; }

@media (max-width: 1024px) {
  .logo_principal {
    display: flex;
    justify-content: center; }
  .barra_nav {
    width: 100%;
    display: inline-block; }
  .barra_nav li {
    border-radius: 8%;
    padding: 15px; }
  .cajas-ofertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); }
  .contenedorPadre_footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); }
    .contenedorPadre_footer div {
      flex-direction: column;
      margin: 50px; }
  .comentario_adaptable {
    width: 450px;
    height: 60px; }
  .Ingreso_info {
    font-size: 15px; }
  .img_inicio {
    width: 100%;
    height: 500px; }
  .hijo_menu {
    display: flex;
    flex-direction: column; }
  .pie-pagina {
    display: flex;
    justify-content: space-between; } }

@media (max-width: 1200px) {
  .cajas-ofertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); } }

@media (max-width: 768px) {
  .barra_nav {
    flex-direction: column; }
  .cajas-ofertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); }
  .cajas-productos {
    margin: 10px auto; }
  .contenedorPadre_footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); }
    .contenedorPadre_footer div {
      flex-direction: column;
      margin: 50px; }
  .comentario_adaptable {
    width: 400px;
    height: 60px; }
  .Ingreso_info {
    font-size: 15px; }
  .img_inicio {
    width: 100%;
    height: 450px; }
  .hijo_menu {
    display: flex;
    flex-direction: column; } }

@media (max-width: 480px) {
  .barra_nav {
    flex-direction: column; }
  .img_inicio {
    width: 100%;
    height: 350px; }
  .hijo_menu {
    display: flex;
    flex-direction: column; }
  .cajas-ofertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); }
  .cajas-productos {
    margin: 10px auto; }
  .contenedorPadre_footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); }
    .contenedorPadre_footer div {
      flex-direction: column;
      justify-content: center;
      margin: 50px; }
  .comentario_adaptable {
    width: 320px;
    height: 60px; } }

@media (max-width: 479px) {
  .comentario_adaptable {
    width: 250px;
    height: 60px; } }

@media screen and (max-width: 320px) {
  .barra_nav {
    flex-direction: column; }
  .img_inicio {
    width: 100%;
    height: 300px; }
  .hijo_menu {
    display: flex;
    flex-direction: column; }
  .cajas-ofertas {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    width: auto;
    height: auto;
    margin: 0px auto; }
    .cajas-ofertas .cajas-productos {
      margin: 10px auto; }
  .contenedorPadre_footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px); }
    .contenedorPadre_footer div {
      flex-direction: column;
      margin: 50px; }
  .seccion_contacto {
    padding: 35px 35px; }
  .comentario_adaptable {
    width: 250px;
    height: 40px; }
  .ofertas {
    width: 275px;
    height: auto;
    margin: 10px 0px; } }
