*{
    margin: 0;
    padding: 0;
    
}
header{
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 14%, rgba(252,234,187,1) 14%, rgba(251,223,147,1) 72%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 14%,rgba(252,234,187,1) 14%,rgba(251,223,147,1) 72%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 14%,rgba(252,234,187,1) 14%,rgba(251,223,147,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

.color_text{
    color: #B87E24;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Logo Index */
.logo{
    width: 230px;
    cursor: pointer;
}

/* Barra de navegación Index */
.barra_nav{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content:space-between;    
}
.barra_nav li{
    display:inline-block;
    text-align: center;
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 20%;

    
}
.barra_nav li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
}
.barra_nav li:hover{
    background-color: #f7c478;
}

.barra_nav li a:hover{
    color: black;
}


li{
    list-style-type: none;
}

.img_inicio{
    width: 100%;
    height: 600px;

}



/********************** Sección de cajas para ofertas ******************************/


.seccion-ofertas{   
    background-color: #FFF1BD;
}

.foto_inicio{
    width: 100%;
    height: 150px;
}


/* Cajas para ofertas */
.cajas-ofertas{
    display: flex;
    justify-content: space-around;
    
}
.ofertas{     
    background: white;
    color: black;
    text-decoration:solid;
    width: 310px;
    height: 580px;
    padding: 15px 10px 15px 5px;
    border-top: solid 2px #362706;
    border-right: solid 2px #362706;
    border-bottom: solid 2px #362706;
    border-left: solid 2px #362706;
    margin: 5px 10px 15px 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 25px 5px #aa7b14;
    font-size: 25px;
}

.cajas-ofertas{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
}
/* fotos ofertas - index */
.foto-ofertas{
    border-top: solid 1px #362706;
    border-right: solid 1px #362706;
    border-bottom: solid 1px #362706;
    border-left: solid 1px #362706;
}
s{
    color: brown;
}

/* Hover a las cajas - Uso de transformación */
.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}


/********* Footer *************/
footer{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+14,fceabb+14,fbdf93+72 */
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,234,187,1) 14%, rgba(252,234,187,1) 14%, rgba(251,223,147,1) 72%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 14%,rgba(252,234,187,1) 14%,rgba(251,223,147,1) 72%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,234,187,1) 14%,rgba(252,234,187,1) 14%,rgba(251,223,147,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

/* Pie de paginas */
.pie-footer{
flex-wrap: wrap;
}
.iconos-redes{
    display: flex;
    justify-content: space-around;
}

.pie-pagina{
    display: flex;
    justify-content: space-around;
}
.tex-footer{
    color: black;
    font-size: 20px;
}

.link-footer{
    color: #362706;
    font-size: 20px;
}
/********* Seccion de Combos ********/

/* **********************Seccion de Productos ***********************/

.cajas-productos{
    background: white;
    color: black;
    text-decoration:solid;
    width: 250px;
    height: 300px;
    padding: 15px 10px 15px 5px;
    border-top: solid 2px #362706;
    border-right: solid 2px #362706;
    border-bottom: solid 2px #362706;
    border-left: solid 2px #362706;
    margin: 5px 10px 15px 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 25px 5px #aa7b14;
    font-size: 25px;
}



/* **************************Seccion de Contacto************************************************ */

.seccion_contacto{
    font-size: 20px;
    padding: 60px 60px;
    background-color: #FFF1BD;
}
/* Placeholder que el usuario debe completar */
.Ingreso_info{
    font-size: 20px;   
}


/************************ Uso de media query *********************/
/******* Media query 1024px **********/
@media (max-width: 1024px){
    .barra_nav{
    flex-direction:column;

    }
    .cajas-ofertas{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    } 


    .contenedorPadre_footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    
    }

    /* Imput page "Contacto" */
    .comentario_adaptable{
    width: 450px;
    height: 60px;
    
    }
    /* Placeholder que el usuario debe completar page "Contácto"*/
    .Ingreso_info{
    font-size: 15px;   
    }

    .contenedorPadre_footer div{
    flex-direction: column;
    margin:50px;
    }

    .img_inicio{
        width: 100%;
        height: 500px;

    }
    .hijo_menu{
    display: flex;
    flex-direction: column;
    
    }
}

@media (max-width: 1200px){
    .cajas-ofertas{
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        } 
}


/**************** Media query 768px ****************/
@media (max-width: 768px){
    .barra_nav{
    flex-direction:column;

    }
    .cajas-ofertas{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    } 

    /* .cajas-ofertas{
    flex-wrap: wrap;
    
    } */

    .contenedorPadre_footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    
    }

    /* Imput page "Contacto" */
    .comentario_adaptable{
    width: 400px;
    height: 60px;
    
    }
    /* Placeholder que el usuario debe completar page "Contácto"*/
    .Ingreso_info{
    font-size: 15px;   
    }

    .contenedorPadre_footer div{
    flex-direction: column;
    margin:50px;
    }

    .img_inicio{
        width: 100%;
        height: 450px;

    }
    .hijo_menu{
    display: flex;
    flex-direction: column;
    
    }
}



/******** Media query 468px ***********/

@media (max-width: 480px){
    .barra_nav{
        flex-direction:column;
    
    } 
    .img_inicio{
        width: 100%;
        height: 350px;
    }

    .hijo_menu{
        display: flex;
        flex-direction: column;
    }

    .cajas-ofertas{
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
    }
    
    .contenedorPadre_footer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        
    }
    .contenedorPadre_footer div{
        flex-direction: column;
        justify-content:center ;
        margin:50px;
    }

    /* Imput de la page "Contacto" */
    .comentario_adaptable{
        width: 320px;
        height: 60px;
        
    }
}
@media (max-width: 479px){
    /* Imput de la page "Contacto" */
    .comentario_adaptable{
        width: 250px;
        height: 60px;
    }
}

/******** Media query 320px ***********/

@media screen and (max-width: 320px){
    .barra_nav{
        flex-direction:column;
    
    }   
    .img_inicio{
        width: 100%;
        height: 300px;
    }

    .hijo_menu{
        display: flex;
        flex-direction: column;
    }

    .cajas-ofertas{
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
    }

    .contenedorPadre_footer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        
    }
    
    .contenedorPadre_footer div{
        flex-direction: column;
        margin:50px;
    }

    .seccion_contacto{
        padding: 35px 35px;
    }
    /* Imput de la page "Contacto" */
    .comentario_adaptable{
        width: 250px;
        height: 40px;
    }
    .ofertas{
        width: 275px;
        height: auto;
        margin: 10px 0px;

    }
    .cajas-ofertas{
        width: 275px;
        height: auto;
        margin: 10px 45px;
        
    }
}






