// Seccion de Page - Combos / Uso de Bootstrap
.accordion{
    background-color: #FFF1BD;
    padding: 50px 0px 0px 0px;
}
.accordion-item{
    background-color: #FFF1BD
}
.accordion-header{
    background-color: #FFF1BD
}
.accordion-button{
    background-color: #FFF1BD;
}
