// Seccion de Page - Combos / Uso de Bootstrap
.accordion {
  background-color: #fff1bd;
  padding: 50px 0px 0px 0px;
}
.accordion-item {
  background-color: #fff1bd;
}
.accordion-header {
  background-color: #fff1bd;
}
.accordion-button {
  background-color: #fff1bd;
}
