// Seccion de Page contacto
.seccion_contacto{
    font-size: 20px;
    padding: 60px 60px;
	background: linear-gradient(rgba(118, 126, 148, 0.10), rgba(220, 230, 224, 0.25)), url(./../Imges/Contacto/fondo5.jpg) no-repeat center center fixed;
	background-size: cover;
	font-size: 22px;
	font-weight: 500;
	color: black;
	font-family: $letra;
	
}

// Placeholder donde el usuario debe completar
.Ingreso_info{
    font-size: 20px;   
}