// Variables
$letra: "Times"; 
$color:#B87E24;

// General


// IMPORTANTE DARIO => aca irian los import

*{
    margin: 0;
    padding: 0;
	
}
.img_inicio{
    width: 100%;
    height: 600px;

}
.color_text{
    color: $color;
    text-align: center;
    font-family: $letra;
	font-size: 22px;
}   
li{
    list-style-type: none;
}
header{
	background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 14%, rgba(252,234,187,1) 14%, rgba(251,223,147,1) 72%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 14%,rgba(252,234,187,1) 14%,rgba(251,223,147,1) 72%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 14%,rgba(252,234,187,1) 14%,rgba(251,223,147,1) 72%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}

.logo{
    width: 230px;
    cursor: pointer;
}

.barra_nav{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    li{
        display:inline-block;
        text-align: center;
        margin: 30px;
        padding: 20px;
        background-color: white;
        border-radius: 20%;
        a{
            text-decoration: none;
            display: inline-block;
            margin: 0 20px;
            font-size: 22px;
			font-weight: 500;
                &:hover{
                    color: black;
                }
            }
        &:hover{
			background-color: #e8c99b;
			background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
			

        }
    }   
}

/* Cajas para ofertas - fotos ofertas - index */

.seccion-ofertas {
	background-color: #FFF1BD;
}

// Uso de Mixing ************
@mixin cajas_productos_mixing {
	background: white;
	color: black;
	font-family: "Dosis";
	text-decoration: solid;
	width: 310px;
	height: auto;
	padding: 15px 10px 15px 5px;
	border-top: solid 2px #362706;
	border-right: solid 2px #362706;
	border-bottom: solid 2px #362706;
	border-left: solid 2px #362706;
	margin: 5px 10px 15px 15px;
	border-radius: 10px;
	text-align: center;
	box-shadow: 5px 5px 25px 5px #aa7b14;
	font-size: 25px;
	
}
@mixin cajas {
	display: flex;
	justify-content: space-around;
	display: grid;
	grid-template-columns: repeat(auto-fill, 350px);
    .ofertas {
		@include cajas_productos_mixing;
        .foto-ofertas {
            border-top: solid 1px #362706;
            border-right: solid 1px #362706;
            border-bottom: solid 1px #362706;
            border-left: solid 1px #362706;
        }
    }
}
.cajas-ofertas {
	@include cajas()
}
s{
    color: brown;
}
/* Hover a las cajas - Uso de transformación */
.grid-item {
	&:hover {
		filter: opacity(0.9);
		transform: scale(1.02);
	}
}

// Pie de pagina
footer {
@extend header;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pie-footer {
	flex-wrap: wrap;
}
.iconos-redes {
	display: flex;
	justify-content: space-around;
}
.pie-pagina {
	display: flex;
	justify-content: space-around;
}
.tex-footer {
	color: black;
	font-size: 20px;
	font-family: $letra;
}
.link-footer {
	color: #362706;
	font-size: 20px;
}

// Seccion de Page - Combos / Uso de Bootstrap
.accordion{
    background-color: #FFF1BD;
}
.accordion-item{
    background-color: #FFF1BD
}
.accordion-header{
    background-color: #FFF1BD
}
.accordion-button{
    background-color: #FFF1BD;
}

// Seccion de Page "Productos"

.cajas-ofertas{
 @include cajas()
}
.cajas-productos{
	@include cajas_productos_mixing
}

// Seccion de Page contacto
.seccion_contacto{
    font-size: 20px;
    padding: 60px 60px;
	background: linear-gradient(rgba(118, 126, 148, 0.10), rgba(220, 230, 224, 0.25)), url(./../Imges/Contacto/fondo5.jpg) no-repeat center center fixed;
	background-size: cover;
	font-size: 22px;
	font-weight: 500;
	color: black;
	font-family: $letra;
	
}

// Placeholder donde el usuario debe completar
.Ingreso_info{
    font-size: 20px;   
}

// USO DE MEDIA QUERY

// Media query 1024px


@media (max-width: 1024px) {
	.barra_nav {
		flex-direction: column;
	}
	.cajas-ofertas {
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
	}
	.contenedorPadre_footer {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
		div {
			flex-direction: column;
			margin: 50px;
		}
	}
    // Imput page "Contacto"
	.comentario_adaptable {
		width: 450px;
		height: 60px;
	}
    // Placeholder que el usuario debe completar page "Contácto"
	.Ingreso_info {
		font-size: 15px;
	}
	.img_inicio {
		width: 100%;
		height: 500px;
	}
	.hijo_menu {
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 1200px){
    .cajas-ofertas{
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        } 
}

// Media query 768px
@media (max-width: 768px) {
	.barra_nav {
		flex-direction: column;
	}
	.cajas-ofertas {
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
	}
	// Cajas page-Productos
	.cajas-productos{
		margin: 10px auto;
	}
	.contenedorPadre_footer {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
		div {
			flex-direction: column;
			margin: 50px;
		}
	}
    // Imput page "Contacto" 
	.comentario_adaptable {
		width: 400px;
		height: 60px;
	}
    // Placeholder que el usuario debe completar page "Contácto"
	.Ingreso_info {
		font-size: 15px;
	}
	.img_inicio {
		width: 100%;
		height: 450px;
	}
	.hijo_menu {
		display: flex;
		flex-direction: column;
	}
}

// Media query 468px 

@media (max-width: 480px){
	.barra_nav {
		flex-direction: column;
	}
	.img_inicio {
		width: 100%;
		height: 350px;
	}
	.hijo_menu {
		display: flex;
		flex-direction: column;
	}
	.cajas-ofertas{
		display: grid;
		grid-template-columns: repeat(auto-fill, 350px);
	}
	// Cajas page-Productos
	.cajas-productos{
		margin: 10px auto;
	}
	.contenedorPadre_footer{
		width: 100%;
 		display: grid; 		
		grid-template-columns: repeat(auto-fill, 350px);
			div {
 				flex-direction: column;
 				justify-content: center;
 				margin: 50px;
 				}
 	}
     // Imput de la page "Contacto"
 	.comentario_adaptable {
 		width: 320px;
 		height: 60px;
 	}
 }

@media (max-width: 479px){
//Imput de la page "Contacto" 
	.comentario_adaptable{
        width: 250px;
        height: 60px;
    }
 }

//  Media query 320px 

 @media screen and (max-width: 320px){
 	.barra_nav {
 		flex-direction: column;
 	}
 	.img_inicio {
 		width: 100%;
 		height: 300px;
 	}
 	.hijo_menu {
 		display: flex;
 		flex-direction: column;
 	}
 	.cajas-ofertas {
 		display: grid;
 		grid-template-columns: repeat(auto-fill, 350px);
 		width: auto;
 		height: auto;
		margin: 0px auto;

	// Cajas page-Productos
	.cajas-productos{
		margin: 10px auto;
	}
 
 	}
 	.contenedorPadre_footer {
 		width: 100%;
 		display: grid;
 		grid-template-columns: repeat(auto-fill, 350px);
 		div {
 			flex-direction: column;
 			margin: 50px;
 		}
	}
 	.seccion_contacto {
 		padding: 35px 35px;
 	}
     // Imput de la page "Contacto"
 	.comentario_adaptable {
 		width: 250px;
 		height: 40px;
 	}
 	.ofertas {
 		width: 275px;
 		height: auto;
 		margin: 10px 0px;
 	}
}


